<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<p><strong>ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</strong></p>
<p>&laquo;Сообщи Городу&raquo;</p>
<p>&nbsp;</p>
<p>г. Санкт-Петербург<br /> &laquo;1&raquo; января 2024 г.</p>
<ol>
    <li>ВВЕДЕНИЕ</li>
</ol>
<p>1.1. Настоящее Пользовательское соглашение регулирует использование вами мобильного приложения &laquo;Сообщи Городу&raquo;.</p>
<p>1.2. Прежде чем начать использование Приложения, внимательно ознакомьтесь с условиями настоящего Соглашения. Использование Приложения означает ваше полное и безоговорочное согласие с его условиями.</p>
<p>&nbsp;</p>
<ol start="2">
    <li>ЛИЦЕНЗИЯ И ПРАВА</li>
</ol>
<p>2.1. &laquo;Сообщи Городу&raquo; предоставляет вам личную, ограниченную, неисключительную и непередаваемую лицензию на использование Приложения на условиях, изложенных в настоящем Соглашении.</p>
<p>2.2. Все права на интеллектуальную собственность, связанную с Приложением, остаются за &laquo;Сообщи Городу&raquo;. Вы не имеете права воспроизводить, распространять или модифицировать Приложение без письменного разрешения &laquo;Сообщи Городу&raquo;.</p>
<p>&nbsp;</p>
<ol start="3">
    <li>УСЛОВИЯ ИСПОЛЬЗОВАНИЯ</li>
</ol>
<p>3.1. Вы обязуетесь использовать Приложение с соблюдением действующего законодательства и настоящего Соглашения.</p>
<p>3.2. Запрещается использование Приложения в незаконных целях, в том числе для передачи вредоносного программного обеспечения, осуществления мошенничества или нарушения прав третьих лиц.</p>
<p>3.3. &laquo;Сообщи Городу&raquo; оставляет за собой право приостановить или прекратить предоставление вам доступа к Приложению в случае нарушения вами условий настоящего Соглашения.</p>
<p>&nbsp;</p>
<ol start="4">
    <li>КОНФИДЕНЦИАЛЬНОСТЬ</li>
</ol>
<p>4.1. &laquo;Сообщи Городу&raquo; обязуется соблюдать конфиденциальность ваших данных в соответствии с политикой конфиденциальности, размещенной в Приложении.</p>
<p>4.2. Вы соглашаетесь предоставлять только точные и актуальные данные при использовании Приложения.</p>
<p>&nbsp;</p>
<ol start="5">
    <li>ОТВЕТСТВЕННОСТЬ</li>
</ol>
<p>5.1. &laquo;Сообщи Городу&raquo; не несет ответственность за ущерб, возникший в результате использования или невозможности использования Приложения.</p>
<p>5.2. Вы соглашаетесь использовать Приложение на свой собственный риск.</p>
<p>&nbsp;</p>
<ol start="6">
    <li>ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</li>
</ol>
<p>6.1. Настоящее Соглашение регулируется законодательством Российской Федерации.</p>
<p>6.2. Все споры, возникающие из настоящего Соглашения, подлежат разрешению в судебном порядке в соответствии с действующим законодательством.</p>
<p>6.3. &laquo;Сообщи Городу&raquo; оставляет за собой право вносить изменения в условия настоящего Соглашения с уведомлением пользователей.</p>